################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.zip
*.ide-shm
/MinhaAppMvcCompleta/.vs/MinhaAppMvcCompleta/v16/Server/sqlite3/storage.ide-wal
/.vs
/MinhaAppMvcCompleta/src/DevIO.App/Properties/PublishProfiles
/AspNetCoreIdentity/AspNetCoreIdentity/obj/Release/netcoreapp2.2
/AppMvcBasica/AppMvcBasica/obj/Release/netcoreapp2.2
