@using DevIO.UI.Site.Data
@inject IPedidoRepository PedidoRepository

@{
    ViewData["Title"] = "Home Page";
}

<partial name="_AvisoGeral" />

@*@await Html.PartialAsync("AvisoGeral") exemplo de chamada assíncrona

    <vc:Carrinho></vc:Carrinho>*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
